/* Page d'accueil du site */

.homePage {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.accroche {
    text-align: center;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container {
    background-color: white;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    height: 100%;
    font-size: .8rem;
    margin: 10px;
    max-width: 25rem;
    min-height: 26rem;
}

.container img {
    width: 20rem;
}

.container button {
    background-color: #a5e7f0;
    border: 2px solid #000;
    border-radius: 5px;
}

.container button:hover {
    background-color: #48C6DA;
}

/* Pour les écrans plus pettis (téléphones/tablettes) */
@media (max-width:975px) {
    .choice {
        flex-direction: column;
        align-items: center;
    }

    .homePage {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.text {
    background-color: #48C6DA;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 3rem;
    padding: 0 1rem;
    text-align: justify;
}