.page-inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.page-inscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 32rem;
}

.input-field {
    max-width: 200px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5%;
    padding: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .75rem;
}

label {
    font-weight: bold;
    margin-bottom: .5rem;
}

/*--------------- Slider âge -------------*/

.slide-container {
    width: 200px;
}

.slider, .curseur {
    width: 90%;
    appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    outline: none;
    transition: background 0.3s;
}

.slider:hover, .curseur:hover {
    background: #bbb;
}

.slider::-webkit-slider-thumb, .curseur::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb, .curseur::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
}

.output, .phoneNumber {
    font-size: 1.2em;
    color: #333;
}

/*---------- Menu déroulant pays ----------*/

select {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

option {
    padding: 10px;
}

.signin {
    grid-column: 2;
    margin-left: 120px;
}

.mention {
    text-align: right;
    margin-right: 20px;
    position: relative;
    bottom: 0;
    right: 0;
}