.navbar {
    height: 80px;
    width: 100%;
    background-color: #a5e7f0;
    color: black;
    display: flex;
    justify-content: center;
    position: sticky;
}

.navbar-container {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: 1.5rem;
    
}

.navbar-left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-logo {
    height: 100%;
    width: auto;
}

.navbar-logo img {
    height: 100%;
    width: auto;
}

.navbar-title a {
    font-size: 1.5rem;
    text-align: left;
    text-decoration: none;
    color: black;
}

.navbar-buttons {
    display: flex;
    gap: 1.5rem;
}

.navbar-buttons .btn {
    background-color: #313eb3;
    color: white;
    border: none;
    padding: 8px 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1rem;
    text-decoration: none;
}

.navbar-buttons-sm {
    display: none;
    gap: 1rem;
}

.navbar-buttons-sm .btn {
    background-color: #313eb3;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar-buttons .btn:hover {
    background-color: #1d2889;
}

@media (max-width: 768px) {
    .navbar {
        height: 60px;
    }

    .navbar-buttons {
        display: none;
    }

    .navbar-buttons-sm {
        display: flex;
    }

}