/* Style général appliqué à toutes les pages */

html, body {
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #defbff;
    /*background-image: url(../Annexes/quadrillage.png);*/  /*idée abandonnée*/
}

.content {
    min-height: calc(100vh - 80px);
}

.buttons {
    display: flex;
    gap: 10px;
    margin-right: 50px;
}

.buttons button {
    background-color: #3e7f4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

.buttons button:hover {
    background-color: #2f6138;
}

  