<!--Pied de page présent sur toutes les pages du site-->
<!--Principalement décoratif : les liens redirigent vers la même page (hormis X et Instagram)-->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Conditions d'utilisation</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon">Facebook</a>
            <a href="https://x.com/Max_La_Menaace" class="social-icon">X (Twitter)</a>
            <a href="https://www.instagram.com/maxx_la_menaace/" class="social-icon">Instagram</a>
        </div>
    </div>
</footer>