<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <div class="navbar-logo">
                <img src="../Annexes/logo.png" alt="Logo" />
            </div>
            <div class="navbar-title">
                <h1>Human Benchmark 2</h1>
            </div>
        </div>
        <div class="navbar-buttons">
            <button class="btn" id="login-btn">Se connecter</button>
            <button class="btn" id="signup-btn">S'inscrire</button>
        </div>
    </div>
</nav>